<ion-header>
  <ion-toolbar color="primary">
    <div class="header-content">
      <ion-img src="assets/img/logo.jpg" alt="Ciber Center" class="logo"></ion-img>
      <ion-title>Ciber Center</ion-title>
    </div>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2 class="ion-text-center">Bienvenidos a Ciber Center</h2>
  <p class="ion-text-center">
    Encuentra todo lo que necesitas en material de oficina, escolar y más. 
    Ofrecemos calidad y buen servicio para todos nuestros clientes.
  </p>

  <div class="carousel-row">
    <div class="carousel">
      <div class="carousel-container">
        <img src="assets/img/lapiz.webp" alt="Oferta 1" class="carousel-item">
        <img src="assets/img/arte_1.webp" alt="Oferta 2" class="carousel-item">
        <img src="assets/img/oficina_1.webp" alt="Oferta 3" class="carousel-item">
      </div>
    </div>

    <div class="carousel">
      <div class="carousel-container">
        <img src="assets/img/descuentos.png" alt="Oferta 4" class="carousel-item">
        <img src="assets/img/descuento.jpg" alt="Oferta 5" class="carousel-item">
        <img src="assets/img/lunes.jpg" alt="Oferta 6" class="carousel-item">
      </div>
    </div>

    <div class="carousel">
      <div class="carousel-container">
        <img src="assets/img/mayoreo.jpg" alt="Oferta 7" class="carousel-item">
        <img src="assets/img/mayorista.jpg" alt="Oferta 8" class="carousel-item">
        <img src="assets/img/mayoristas.jpg" alt="Oferta 9" class="carousel-item">
      </div>
    </div>
  </div>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Promoción Especial</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      ¡Aprovecha un 20% de descuento en útiles escolares esta semana!
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-item button routerLink="/productos">
      <ion-icon name="cart-outline" slot="start"></ion-icon>
      <ion-label>Amplia variedad de productos</ion-label>
    </ion-item>
    <ion-item button>
      <ion-icon name="pricetag-outline" slot="start"></ion-icon>
      <ion-label>Precios accesibles</ion-label>
    </ion-item>
    <ion-item button>
      <ion-icon name="location-outline" slot="start"></ion-icon>
      <ion-label>Ubicación conveniente</ion-label>
    </ion-item>
    <ion-item button>
      <ion-icon name="time-outline" slot="start"></ion-icon>
      <ion-label>Horarios flexibles</ion-label>
    </ion-item>
  </ion-list>
</ion-content> <!-- Este cierre es el único que debe estar -->

<ion-footer>
  <ion-toolbar>
    <ion-title size="small" class="ion-text-center">Síguenos en nuestras redes</ion-title>
  </ion-toolbar>
  <ion-buttons class="ion-justify-content-center">
    <ion-button href="https://www.facebook.com/profile.php?id=61561154961438" target="_blank">
      <ion-icon name="logo-facebook"></ion-icon>
    </ion-button>
    <ion-button href="https://www.instagram.com/ciber.center/" target="_blank">
      <ion-icon name="logo-instagram"></ion-icon>
    </ion-button>
    <ion-button href="https://twitter.com" target="_blank">
      <ion-icon name="logo-twitter"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-footer>
